[Desktop Entry]
Type=Application
Name=NFC Laboratory
GenericName=NFC signal and protocol analyzer
Comment=NFC signal and protocol analyzer using SDR receiver
Exec=nfc-lab
Terminal=false
Icon=io.github.josevcm.nfc-laboratory
Categories=Science;Engineering;
Keywords=NFC;SDR;Radio;protocol analyzer;signal decoder;RTL-SDR;AirSpy;HydraSDR;ISO14443;ISO15693;ISO7816;RFID;smart card;
