#!/usr/bin/make -f

# Output every command that modifies files on the build system.
export DH_VERBOSE = 1

# Set Makefile output silent
export MAKEFLAGS = -s

%:
	dh $@ -v --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release
